$primaryColor: rgb(0, 77, 153);
$primaryLightColor: rgb(42, 119, 196);
$primaryDarkColor: rgb(2, 47, 92);
$lightColor: rgb(247, 247, 247);
$darkColor: rgb(44, 44, 45);
$darkBackgroundColor: rgb(60, 60, 60);
$fontColor: rgb(117, 117, 117);