@import './components/Media-queries.scss';
@import './components/Color.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: $darkColor;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.container {
    max-width: 1300px;
    width: 90%;
    display: grid;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}
